{% extends 'base_quiz.html' %}
{% load static %}
{% block content %}

    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="square">
            <div class="content">
              <!-- logo code -->
              <div class="row">
                <div class="col-6 logo-row">
                  <h1 class="text-start mb-0 mt-1">PYTHON</h1>
                </div>
                <div class="col-3"></div>
                <div class="col-3 text-end">
                  <img src="{% static 'images/python.jpg' %}" alt="Logo image" width="60" height="60" class="logo" />
                </div>
              </div>

              <!-- Question content here -->
              <div class="row mt-5">
                <p class="text-start mb-0">(1) {{question}}</p>
              </div>

              <!-- Code content here -->

              {% if code %}
              <div class="row mt-3">
                <div class="col">
                  <div class="text-start ps-2 code-image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="54" height="14" viewBox="0 0 54 14"><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="6" cy="6" r="6" fill="#FF5F56" stroke="#E0443E" stroke-width=".5"></circle><circle cx="26" cy="6" r="6" fill="#FFBD2E" stroke="#DEA123" stroke-width=".5"></circle><circle cx="46" cy="6" r="6" fill="#27C93F" stroke="#1AAB29" stroke-width=".5"></circle></g></svg>
                  </div>

                  <pre class="text-start m-0 language-python"><code>{{code}}</code></pre>
                </div>
              </div>
              {% endif %}

              <!-- Add your content for the square here -->
              <div class="row mt-3">
                <div class="col-1"></div>
                <div class="col">
                  <p class="text-start mb-1">(a) {{option_a}}</p>
                  <p class="text-start mb-1">(b) {{option_b}}</p>
                  <p class="text-start mb-1">(c) {{option_c}}</p>
                  <p class="text-start mb-1">(d) {{option_d}}</p>
                </div>
              </div>

              <div class="text-id">INSTAGRAM | @PYTHON.BOY</div>
            </div>
          </div>


          <div class="text-center">
            <a href="http://127.0.0.1:8000/media/question_{{question_uuid}}.png" class="btn btn-dark btn-sm mt-5">Download</a>
          </div>
          </div>
      </div>
    </div>
    {% endblock %}
